@layer reset, base;

@import 'modern-normalize/modern-normalize.css' layer(reset); 

@layer reset {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
  } 
}

/* @property --rem {
  inherits: true;
  initial-value: 10px;
  syntax: '<length>';
} */

@layer base {
  :root {
    --color-white: oklch(1 0 0);
    --color-black: oklch(0 0 0);
    --color-black-3p: oklch(0 0 0 / 3%);
    --color-black-10p: oklch(0 0 0 / 10%);
    --color-black-60p: oklch(0 0 0 / 60%);
    --color-black-40p: oklch(0 0 0 / 40%);

    --color-accent: oklch(0.72 0.21 52.14);
    --color-error: oklch(0.61 0.27 27.92);

    --color-background: light-dark(var(--color-white), oklch(from var(--color-black) calc(l + 0.1) c h)); 
    --color-foreground: light-dark(var(--color-black-3p), oklch(0.2 0 0));
    --color-backdrop: light-dark(var(--color-black-10p), oklch(1 0 0 / 0.1));
    --color-separator: light-dark(var(--color-black-10p), oklch(0.25 0 0));

    --color-text-base: light-dark(var(--color-black), var(--color-white));
    --color-text-secondary: light-dark(var(--color-black-60p), oklch(0.8 0 0));
    --color-text-tertiary: light-dark(var(--color-black-40p), oklch(0.6 0 0));
    --color-text-accent: var(--color-accent);
    --color-text-error: var(--color-error);

    --text-heading: 5rem;
    --text-heading-line-height: 0.95;
    --text-subheading: 3.6rem;
    --text-subheading-line-height: 1.15; 
    --text-base: 2.4rem;
    --text-base-line-height: 1.5;
    --text-small: 2.2rem;
    --text-small-line-height: 1.5;

    --transition-duration: 0.3s;

    --container-pad: 6rem;
    --container-width: calc(100% - 2 * var(--container-pad));

    --header-height: 8rem;
    --header-z-index: 100;
  }
  
  html {
    --_max-w: 1920;
    --_min-w: 1024;
    --_max-rem: 10px;
    --_min-rem: calc((var(--_max-rem)) * (var(--_min-w) / var(--_max-w)));
    --rem: clamp(var(--_min-rem), 100vw / var(--_max-w) * 10, var(--_max-rem));

    font-size: var(--rem);
    color-scheme: light dark;
  }
  
  body {
    font-family: 'Carlito', sans-serif;
    font-size: var(--text-base);
    line-height: var(--text-base-line-height);
    color: var(--color-text-base);

    background: var(--color-background);
  }

  .text-heading {
    font-size: var(--text-heading);
    font-weight: bold;
    line-height: var(--text-heading-line-height);
  }

  .text-subheading {
    font-size: var(--text-subheading);
    font-weight: bold;
    line-height: 1.15;
  }

  .text-base {
    font-size: var(--text-base);
    line-height: var(--text-base-line-height)
  }

  .text-small {
    font-size: var(--text-small);
    line-height: var(--text-small-line-height);
  }

  .text-bold {
    font-weight: bold;
  }

  .text-normal {
    font-weight: normal;
  }

  button {
    cursor: pointer;
    
    width: max-content;
    height: max-content;

    line-height: var(--text-base-line-height);

    background: transparent;
    border: none;
  }

  a {
    cursor: pointer;
    color: var(--color-text-base);
    text-decoration: none;
    transition: color 0.3s;

    &:is(:hover, :active) {
      color: var(--color-text-accent);
    }
  }

  th {
    text-align: left;
  }
}