@layer reset, base;

@import 'modern-normalize/modern-normalize.css' layer(reset); 

@layer reset {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
  } 
}

/* @property --rem {
  inherits: true;
  initial-value: 10px;
  syntax: '<length>';
} */

@layer base {
  :root {
    --color-white: oklch(1 0 0);
    --color-black: oklch(0 0 0);
    --color-black-3p:  oklch(0 0 0 / 3%);
    --color-black-10p:  oklch(0 0 0 / 10%);
    --color-black-60p:  oklch(0 0 0 / 60%);
    --color-black-80p:  oklch(0 0 0 / 80%);

    --color-accent: oklch(0.72 0.21 52.14);
    --color-error: oklch(0.61 0.27 27.92);

    --color-text-base: oklch(0 0 0);
    --color-text-accent: var(--color-accent);
    --color-text-error: var(--color-error);

    --text-heading: 4.8rem;
    --text-subheading: 3.6rem;
    --text-base: 2.4rem;
    --text-small: 2.2rem;

    --container-pad: 6rem;
    --container-width: calc(100% - 2 * var(--container-pad));

    --header-height: 8rem;
  }
  
  html {
    --_max-w: 1920;
    --_min-w: 1024;
    --_max-rem: 10px;
    --_min-rem: calc((var(--_max-rem)) * (var(--_min-w) / var(--_max-w)));
    --rem: clamp(var(--_min-rem), 100vw / var(--_max-w) * 10, var(--_max-rem));
    
    font-size: var(--rem);
  }
  
  body {
    font-family: 'Carlito', sans-serif;
    font-size: var(--text-base);
    line-height: 1.5;
    background: var(--color-blo);

  }

  .text-heading {
    font-size: var(--text-heading);
    font-weight: bold;
    line-height: 0.95;
  }

  .text-subheading {
    font-size: var(--text-subheading);
    font-weight: bold;
    line-height: 1.15;
  }

  .text-base {
    font-size: var(--text-base);
    line-height: 1.5;
  }

  .text-small {
    font-size: var(--text-small);
    line-height: 1.5;
  }

  .text-bold {
    font-weight: bold;
  }

  .text-normal {
    font-weight: normal;
  }

  button {
    cursor: pointer;
    
    width: max-content;
    height: max-content;

    font-size: var(--text-small);
    line-height: 1.5;
    background: transparent;
    border: none;
  }

  a {
    cursor: pointer;
    color: var(--color-text-base);
    text-decoration: none;
    transition: color 0.3s;

    &:is(:hover, :active) {
      color: var(--color-text-accent);
    }
  }
}